<ion-tabs>
	<ion-tab-bar slot="bottom">
		<ion-tab-button class="animate__animated animate__fadeInUp" tab="orders">
			<img src="assets/imgs/ic_home.png"> 
			<ion-label>{{'home' | translate}}</ion-label>
		</ion-tab-button>

		<ion-tab-button class="animate__animated animate__fadeInUp" tab="mall">
			<img src="assets/imgs/ic_cart.png"> 
			<ion-label>Map</ion-label>
		</ion-tab-button>
		<ion-tab-button class="animate__animated animate__fadeInUp" tab="myprofile">
			<img src="assets/imgs/ic_account.png"> 
			<ion-label>Account</ion-label>
		</ion-tab-button>
<!-- 
		<ion-tab-button class="animate__animated animate__fadeInUp" tab="PayOrSend">
			<img src="assets/imgs/ic_scane.png">
			<ion-label>{{'scan' | translate}}</ion-label>
		</ion-tab-button>

		<ion-tab-button class="animate__animated animate__fadeInUp" tab="home">
			<img src="assets/imgs/ic_orders.png"> 
			<ion-label>{{'orders' | translate}}</ion-label>
		</ion-tab-button>

		<ion-tab-button class="animate__animated animate__fadeInUp" tab="account">
			<img src="assets/imgs/ic_account.png">
			<ion-label>{{'account' | translate}}</ion-label>
		</ion-tab-button> -->
	</ion-tab-bar>

</ion-tabs>
