<ion-header class="header_bg bg-transparent">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" icon="arrow-back-outline"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <div class="d-flex">
        {{'my_orders' | translate}}
      </div>
    </ion-title>
  </ion-toolbar>
  <ion-segment (ionChange)="segmentChanged()" [(ngModel)]="segment" lines="none" scrollable mode="md">
    <ion-segment-button value="0">
      Company
    </ion-segment-button>
    <ion-segment-button value="1">
      Vehicle
    </ion-segment-button>
    <ion-segment-button value="2">
      Group
    </ion-segment-button>
  
  </ion-segment>

</ion-header>

<ion-content class="bg_color">
  <div class="tab_container">
    <ion-slides #slides (ionSlideDidChange)="slideChanged()">
      <ion-slide>
       <app-common-data-list [currentSlideIndex]="segment"></app-common-data-list>
        </ion-slide>
      <ion-slide>
        <app-common-data-list [currentSlideIndex]="segment"></app-common-data-list>
      </ion-slide>
      <ion-slide>
        <app-common-data-list [currentSlideIndex]="segment"></app-common-data-list>
      </ion-slide>
    </ion-slides>
  </div>
</ion-content>