<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
				<ion-back-button text="" icon="arrow-back-outline"></ion-back-button>
		</ion-buttons>
		<ion-title>Map</ion-title>
	</ion-toolbar>
</ion-header>
<ng-container *ngIf="!vehicleRoute">
	<!-- <div class="page-header">
	  <h3 class="page-title">
		Vehicle Management
	  </h3>
	</div> -->
	<form class="container" >
		<div class="form-container">
		<div class="form-group">
			<ion-row>
				<ion-col >
					<ion-select value="brown" okText="Okay" cancelText="Dismiss" name="first" [(ngModel)]="defaultMapType" 
					(ionChange)="updateMapType($event.currentTarget.value)">
						<ion-select-option value="Dashboard">Dashboard</ion-select-option>
						<ion-select-option value="Vehicle History">Vehicle History</ion-select-option>
						<ion-select-option value="Vehicle Live Location">Vehicle Live Location</ion-select-option>
					  </ion-select>
				</ion-col>
				<ion-col >
					<ng-container>
						<ion-select [disabled]="defaultMapType == 'Dashboard'" placeholder="Select Vehicle" okText="Okay" cancelText="Dismiss" name="first" (ionChange)="applyFilter($event.currentTarget.value)">
							<ion-select-option  *ngFor="let vehicle of vehicleListData" [value]="vehicle">{{vehicle.vehicleNumber}}</ion-select-option>
						</ion-select>
					  </ng-container>
				</ion-col>
			</ion-row>
			
			<ion-row  *ngIf="defaultMapType == 'Vehicle History'">
				<ion-col >
					<div class="form-group">
						<input type="date"  id="session-date" class="form-control" name="startDate" [(ngModel)]="startDate" 
						(change)="setEndDataEvent($event)" placeholder="Select Start Date"/>
					</div>	
					</ion-col>
					<ion-col >
						<div class="form-group">
							<input type="date"  [max]="getToday()" id="session-endDate"  (change)="setEndDataEvent($event)"  class="form-control" name="endDate" [(ngModel)]="endDate" />
						</div>	
					</ion-col>
			</ion-row>
			<hr>
			<!-- <mat-form-field class="field-wrapper app-permission" appearance="fill" fxFlex="40">
				<mat-select  disableOptionCentering placeholder="Select Map" [(ngModel)]="defaultMapType" name="mapType" (selectionChange)="updateMapType($event.value)">
					<mat-option value="Vehicle History">Vehicle History</mat-option>
					<mat-option value="Vehicle Live Location">Vehicle Live Location</mat-option>
					<mat-option value="Dashboard">Dashboard</mat-option>
				  </mat-select>
			  </mat-form-field> -->
			  <!-- <ng-container *ngIf="defaultMapType == 'Vehicle Live Location' || defaultMapType == 'Vehicle History'"> 
					<mat-form-field appearance="fill" fxFlex="40" class="field-wrapper">
					  <mat-select disableOptionCentering placeholder="Vehicle Type" (selectionChange)="applyFilter($event.value)">
						<mat-option *ngFor="let vehicle of vehicleListData" [value]="vehicle">{{vehicle.vehicleNumber}}</mat-option>
					  </mat-select>
					</mat-form-field>
				<ng-container *ngIf="defaultMapType == 'Vehicle History'"> 
					<input type="date"  id="session-date" class="form-control" name="startDate" [(ngModel)]="startDate" 
					(change)="setEndDataEvent($event)"
					placeholder="Select Start Date" style="width:120% !important"/>
					<input type="date"  [max]="getToday()" id="session-endDate"  (change)="setEndDataEvent($event)"  class="form-control" name="endDate" [(ngModel)]="endDate" 
				   style="width: 99% !important;
					margin-left: 62px;"/>
				  </ng-container>
			  </ng-container> -->
		  </div>
		  </div>
	 </form>
		<!-- <div class="table-filter-options row">
		  <div class="col-md-12 col-sm-12 col-md-12">
			<form class="example-form" style="display: flex;">
			  <table class="example-full-width" cellspacing="0"><tr>
				<td >
				  <mat-form-field class="field-wrapper app-permission" >
					<mat-select disableOptionCentering placeholder="Select Map" [(ngModel)]="defaultMapType" name="mapType" (selectionChange)="updateMapType($event.value)">
						<mat-option value="Vehicle History">Vehicle History</mat-option>
						<mat-option value="Vehicle Live Location">Vehicle Live Location</mat-option>
						<mat-option value="Dashboard">Dashboard</mat-option>
					  </mat-select>
				  </mat-form-field>
			  </td>
			  <ng-container *ngIf="defaultMapType == 'Vehicle Live Location' || defaultMapType == 'Vehicle History'"> 
				<td>
					<mat-form-field class="field-wrapper">
					  <mat-select disableOptionCentering placeholder="Vehicle Type" (selectionChange)="applyFilter($event.value)">
						<mat-option *ngFor="let vehicle of vehicleListData" [value]="vehicle">{{vehicle.vehicleNumber}}</mat-option>
					  </mat-select>
					</mat-form-field>
				</td> 
				<ng-container *ngIf="defaultMapType == 'Vehicle History'"> 
				  <td>
					<input type="date"  id="session-date" class="form-control" name="startDate" [(ngModel)]="startDate" 
					(change)="setEndDataEvent($event)"
					placeholder="Select Start Date" style="width:120% !important"/>
				  </td>
				  <td>
					<input type="date"  [max]="getToday()" id="session-endDate"  (change)="setEndDataEvent($event)"  class="form-control" name="endDate" [(ngModel)]="endDate" 
				   style="width: 99% !important;
					margin-left: 62px;"/>
				  </td>
				  </ng-container>
			  </ng-container>
			  <td>
				<div class="spinner-wrapper" *ngIf="isLoadingData">
				</div>  
				</td>
			  </tr>
			  </table>
			  </form>
		  </div>
	  </div> -->
	</ng-container>
	<!-- <div class="circle-spinner">
	  <mat-progress-spinner 
		color="primary" [diameter]="50"
		mode="indeterminate">
	  </mat-progress-spinner>
	</div> -->
	  <div id="googleMapDashboard" [ngClass]="!vehicleRoute ? 'map-wrapper' : 'map-wrapper-live'" ></div>
  